.cards {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
}

.card {
    margin: 20px 0;
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.card1 {
    margin: 20px 0;
    width: 400px;
    height: 450px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}